<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 my-4">
  <%= link_to property_recommendations_path(property_id: @property.id) do %>
        <div class="m-2">
          <i class="fa-solid fa-arrow-left"></i> All
        </div>
      <% end %>
      <%= simple_form_for [@property, @recommendation] do |f| %>

        <%= f.input :title %>
        <%= f.input :subtitle %>
        <%= f.input :description %>
        <%= f.input :embedded_map %>
        <%= f.input :type %>

        <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
