<div class="booking-calculator-container container" data-controller="calculate-booking" data-calculate-booking-price-value="<%= @property.price_per_night %>" data-calculate-booking-cleaning-fee-value="<%= @property.cleaning_fee %>">
  <div class="row border-bottom mb-2">
    <div class="col">
      <h6 class="text-dark">The whole property</h6>
      <h4 class="text-dark">£<%= @property.price_per_night %> per night</h4>
    </div>
  </div>
    <%= simple_form_for [@property, @enquiry] do |f| %>
      <div class="row mt-2">
        <div class="col"><%= f.input :check_in, html5: true, input_html: { data: { calculate_booking_target: 'check_in', action: 'change->calculate-booking#update' }, min: Date.today } %></div>
      </div>
      <div class="row mt-2">
        <div class="col"><%= f.input :check_out, html5: true, input_html: { data: { calculate_booking_target: 'check_out', action: 'change->calculate-booking#update' }, min: Date.today } %></div>
      </div>
    <% end %>


  <div class="row">
    <p class='d-flex align-items-center justify-content-between'>
      <span>Cleaning fee</span>
      <span>£<%= @property.cleaning_fee.nil? ? "" : @property.cleaning_fee %></span>
    </p>
  </div>

  <div class="row">
    <p class='d-flex align-items-center justify-content-between'>
      <span data-calculate-booking-target='info'><%= @property.minimum_nights %>-night minimum</span>
      <span data-calculate-booking-target='price'></span>
    </p>
  </div>
  
  <div class="row my-2">
    <div class="col"><h5>Total</h5></div>
    <div class="col text-end"><h5><p><span class='fw-bold' data-calculate-booking-target='total'></span></p></h5></div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "Make an enquiry", new_property_enquiry_path(property_id: 1), class: "btn booking-calc-btn" %>
    </div>
  </div>
</div>
