<!-- Modal -->
<div class="modal fade" id="imagesGalleryModal" tabindex="-1" aria-labelledby="imagesGalleryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h3 class="modal-title"></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4" data-bs-dismiss="modal" aria-label="Close">

        <div class="row my-3 justify-content-center">
          <div class="col"><%= image_tag "master2.jpeg", alt: "Master bedroom", class: "d-block w-100 rounded" %></div>
          <div class="col"><%= image_tag "master1.jpeg", alt: "Master bedroom from door", class: "d-block w-100 rounded" %></div>
        </div>
        <div class="row my-3">
          <div class="col"><%= image_tag "guest-bedroom1.jpeg", alt: "Guest bedroom", class: "d-block w-100 rounded" %></div>
        </div>

        <div class="row my-3 justify-content-center">
          <div class="col"><%= image_tag "kitchen-and-living1.jpeg", alt: "Kitchen and living", class: "d-block w-100 rounded" %></div>
          <div class="col"><%= image_tag "kitchen-and-tv1.jpeg", alt: "Kitchen and tv", class: "d-block w-100 rounded" %></div>
        </div>
        <div class="row my-3">
          <div class="col"><%= image_tag "living-room1.jpeg", alt: "Living room 1", class: "d-block w-100 rounded" %></div>
        </div>

        <div class="row my-3 justify-content-center">
          <div class="col"><%= image_tag "view4.jpeg", alt: "View 4 - terrarium in the window", class: "d-block w-100 rounded" %></div>
          <div class="col"><%= image_tag "view1.jpeg", alt: "View 1 - sunset on the green", class: "d-block w-100 rounded" %></div>
        </div>
        <div class="row my-3">
          <div class="col"><%= image_tag "living-room4.jpeg", alt: "Living room 4", class: "d-block w-100 rounded" %></div>
        </div>

        <div class="row my-3 justify-content-center">
          <div class="col">
            <div class="row my-3"><%= image_tag "terrarium1.jpeg", alt: "Telescope and terrarium", class: "d-block w-100 rounded" %></div>
            <div class="row my-3"><%= image_tag "view3.jpeg", alt: "View 3 - the green in the sun", class: "d-block w-100 rounded" %></div>
          </div>
          <div class="col"><%= image_tag "view5.jpeg", alt: "View 5 - sunset with a drink", class: "d-block w-100 rounded" %></div>
        </div>
        <div class="row my-3">
          <div class="col"><%= image_tag "view6.jpeg", alt: "View 6 - portrait sunset of the neighbouring building", class: "d-block w-100 rounded" %></div>
        </div>

        <div class="row my-3 justify-content-center">
          <div class="col"><%= image_tag "shower1.jpeg", alt: "Master shower room", class: "d-block w-100 rounded" %></div>
          <div class="col"><%= image_tag "bathroom1.jpeg", alt: "Bathroom", class: "d-block w-100 rounded" %></div>
        </div>
        <div class="row my-3">
          <div class="col"></div>
        </div>

      </div>
    </div>
  </div>
</div>
