<div id="propertyImages" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="9" aria-label="Slide 10"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="10" aria-label="Slide 11"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="11" aria-label="Slide 12"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="12" aria-label="Slide 13"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="13" aria-label="Slide 14"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="14" aria-label="Slide 15"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="15" aria-label="Slide 16"></button>
    <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="16" aria-label="Slide 17"></button>
  </div>
  <div class="carousel-inner rounded">
    <div class="carousel-item active">
      <%= image_tag "master2.jpeg", alt: "Master bedroom", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "master1.jpeg", alt: "Master bedroom from door", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "guest-bedroom1.jpeg", alt: "Guest bedroom", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "kitchen-and-living1.jpeg", alt: "Kitchen and living", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "kitchen-and-tv1.jpeg", alt: "Kitchen and tv", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "living-room1.jpeg", alt: "Living room 1", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "living-room2.jpeg", alt: "Living room 2", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "living-room3.jpeg", alt: "Living room 3", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "living-room4.jpeg", alt: "Living room 4", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "terrarium1.jpeg", alt: "Terrarium in living room", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "view1.jpeg", alt: "View 1 - sunset on the green", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "view3.jpeg", alt: "View 3 - the green in the sun", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "view4.jpeg", alt: "View 4 - terrarium in the window", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "view5.jpeg", alt: "View 5 - sunset with a drink", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "view6.jpeg", alt: "View 6 - portrait sunset of the neighbouring building", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "shower1.jpeg", alt: "Master shower room", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "bathroom1.jpeg", alt: "Bathroom", class: "d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#propertyImages" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#propertyImages" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>