<div class="container">
  <div class="p-2 text-center">
    <h1>Margate awaits!</h1>
    <h6>⭐️ ⭐️ ⭐️ ⭐️ ⭐️</h6>
    <h6>"I Kent get enough", Kat - <%= 1.month.ago.strftime("%b %Y") %></h6>
  </div>

  <%= render "images_grid" %>

  <div class="row">
    <div class="container border-bottom p-2 m-1">
      <div class="row">
        <div class="col-9">
          <h4><%= @property.title %></h4>
          <h6><%= @property.max_guests %> guests | 
              <%= @property.bedrooms %> double bedrooms | 
              <%= @property.bathrooms %> bathrooms | 
              Kitchen & living |
              Dedicated workspace
              <% if @property.pet_friendly? %>
                <%= "| Pets encouraged 🐾" %>
              <% end %></h6>
        </div>  
        <div class="col-2 ms-auto">
          <%= image_tag "profile.jpeg", alt: "Profile image", class: "avatar-large" %>
        </div>  
      </div>
    </div>

    <div class="container border-bottom p-2 m-1">
      <p><%= simple_format(@property.description) %></p>
      <p>
        <a class="text-reset" data-bs-toggle="collapse" href="#collapsePropDesc" role="button" aria-expanded="false" aria-controls="collapsePropDesc">
          Read more...
        </a>
      </p>
      <div class="collapse" id="collapsePropDesc">
          <p><%= simple_format(@property.description2) %></p>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-12 col-md-6 col-lg-7">

      <div class="container p-2 m-1">
        <%= render "availability_calendar" %>
      </div>

    </div>

    <div class="col-12 col-md-6 col-lg-5">
      <div class="container p-2 m-1">
        <%= render "booking_calculator", property: @property, enquiry: Enquiry.new %>
      </div>
    </div>
  </div>

  <%= render "location" %>

  <%= render "amenities" %>

  <%= render "things_to_know" %>

</div>