<nav class="navbar-margs navbar-expand-sm sticky-top navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "ðŸŽˆ Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "Get in touch", new_property_enquiry_path(property_id: 1), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "MarGreat Recommendations ðŸ´", recommendations_path, class: "nav-link" %>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "profile.jpeg", alt: "Dropdown menu", class: "avatar" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "All enquiries", property_enquiries_path(property_id: 1), class: "dropdown-item" %>
            <%= link_to "Edit property", edit_property_path(id: 1), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Admin", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>