<nav class="navbar-margs navbar-expand-sm sticky-top navbar-light bg-light">
  <div class="container-fluid flex-wrap">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "ðŸŽˆ Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Get in touch", new_property_enquiry_path(property_id: 1), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All enquiries", property_enquiries_path(property_id: 1), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ðŸ´ You might like", recommendations_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>