<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item"><%= link_to "🎈 Home", root_path, class: "nav-link" %></li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <%= link_to "MarGreats", property_recommendations_path(property_id: 1), class: "nav-link text-end" %>
        </li>
        <li class="nav-item">
          <%= link_to "Get in touch", property_new_enquiry_path(property_id: 1), class: "nav-link text-end" %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-lg-0">
        <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "New Booking", new_property_booking_path(property_id: 1), class: "nav-link text-end" %>
            </li>
            <li class="nav-item">
              <%= link_to "Calendar", property_bookings_path(property_id: 1), class: "nav-link text-end" %>
            </li>
            <li class="nav-item">
              <%= link_to "Enquiries", property_enquiries_path(property_id: 1), class: "nav-link text-end" %>
            </li>
            <li class="nav-item">
              <%= link_to "Property", edit_property_path(id: 1), class: "nav-link text-end" %>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-end" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Log out
            </a>
            <ul class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdown">
              <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item text-end" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-end" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdown">
              <li><%= link_to "Log in", new_user_session_path, class: "nav-link text-end" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
