<div class="container">
  <h2>All Enquiries</h2>
    <ul class="list-group list-group-flush">
      <% @enquiries.each do |enquiry| %>
        <li class="list-group-item">
          From <%= enquiry.first_name.capitalize %> <%= enquiry.last_name.capitalize %><br>
          <%= enquiry.guests %> guests<br>
          Check in: <%= enquiry.check_in %><br>
          Check out: <%= enquiry.check_out %><br>
          Message: <%= enquiry.message %>
        </li>
      <% end %>
    </ul>
</div>