<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 my-4">
      <%= simple_form_for [@property, @enquiry] do |f| %>
      <h3>Get in touch if you're thinking about a visit.</h3>
        <div class="row mt-2">
          <div class="col"><%= f.input :first_name %></div>
          <div class="col"><%= f.input :last_name %></div>
        </div>

        <%= f.input :email %>
        <%= f.input :mobile %>

        <div class="row mt-2">
          <div class="col"><%= f.input :check_in, as: :date, html5: true, label: 'Check-in', input_html: { min: Date.today } %></div>
          <div class="col"><%= f.input :check_out, as: :date, html5: true, label: 'Check-out', input_html: { min: Date.today } %></div>
        </div>

        <%= f.input :guests, as: :select, collection: Property::GUESTS, label: "Number of guests" %>
        <div class="row mt-2">
          <div class="col-4"><%= f.label :with_pets, label: "Bringing pets" %></div>
          <div class="col"><%= f.input :with_pets, label: false %></div>
          </div>
        <%= f.input :message %>

        <%= f.submit "Send", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
